body {
    margin: 0;
    background-color: grey;
}

div.navbar {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0;
    text-align: right;
    background-color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 15%;
}

li {
    font-family: 'Quicksand', sans-serif;
    color: antiquewhite;
    text-transform: uppercase;
    display: inline;
    padding: 10px;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: antiquewhite;
}

a:hover {
    color: antiquewhite;
    text-decoration: underline;
}

a.active {
    color: orange;
}
